.vscode/settings.json
Untitled-1.py
__pycache__/query.cpython-39.pyc
.gitignore
__pycache__/query.cpython-39.pyc
__pycache__/query.cpython-39.pyc
.gitignore
indexdir/_MAIN_1.toc
indexdir/MAIN_28svwx2ie291zyvh.seg
indexdir/MAIN_jecnt7r9e5j97wks.seg
